/* line 1, ../sass/base/_base.scss */
body {
  font-family: "Dosis", sans-serif;
}

/* line 5, ../sass/base/_base.scss */
h1 {
  font-size: 72px;
}

/* line 9, ../sass/base/_base.scss */
h2 {
  font-size: 46px;
}

/* line 13, ../sass/base/_base.scss */
h3 {
  font-size: 30px;
}

/* line 17, ../sass/base/_base.scss */
h4 {
  font-size: 26px;
}

/* line 21, ../sass/base/_base.scss */
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* line 27, ../sass/base/_base.scss */
a {
  text-decoration: none;
}

/* line 31, ../sass/base/_base.scss */
.section-header {
  text-align: center;
  font-family: "Lobster", cursive;
  margin-bottom: 30px;
  margin-top: 0;
  color: rgba(10, 10, 10, 0.9);
}

@media (max-width: 767px) {
  /* line 40, ../sass/base/_base.scss */
  h1 {
    font-size: 40px;
  }
}
/* line 1, ../sass/components/_blocks.scss */
.block {
  background: #ccc;
  background: -webkit-linear-gradient(90deg, #ddd, #bbb);
  background: -o-linear-gradient(90deg, #ddd, #bbb);
  background: -moz-linear-gradient(90deg, #ddd, #bbb);
  background: linear-gradient(90deg, #dddddd, #bbbbbb);
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  float: left;
  -moz-box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  overflow: hidden;
}

/* line 15, ../sass/components/_blocks.scss */
.img-block {
  width: 50%;
  height: 100%;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  float: left;
}

/* line 23, ../sass/components/_blocks.scss */
.content-block {
  float: left;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-40%);
}
/* line 32, ../sass/components/_blocks.scss */
.content-block h3 {
  text-align: center;
  font-size: 30px;
  font-family: "Lobster", cursive;
}
/* line 39, ../sass/components/_blocks.scss */
.content-block p {
  font-family: "Dosis", sans-serif;
  text-align: justify;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media (min-width: 1200px) {
  /* line 56, ../sass/components/_blocks.scss */
  .block_1 {
    margin-right: 30px;
    margin-bottom: 30px;
    height: 200px;
    width: 462.5px;
  }

  /* line 63, ../sass/components/_blocks.scss */
  .block_2 {
    margin-right: 30px;
    margin-bottom: 30px;
    height: 200px;
    width: 370px;
  }

  /* line 70, ../sass/components/_blocks.scss */
  .block_3 {
    height: 200px;
    margin-bottom: 30px;
    width: 277.5px;
  }
  /* line 75, ../sass/components/_blocks.scss */
  .block_3 .app-3-bckgrnd {
    background-image: url("../img/github-logo-sm.png");
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: 80%;
    background-position: center;
    width: 100%;
  }

  /* line 85, ../sass/components/_blocks.scss */
  .block_4 {
    margin-right: 30px;
    margin-bottom: 30px;
    height: 400px;
    width: 862.5px;
  }
  /* line 91, ../sass/components/_blocks.scss */
  .block_4 .content-block {
    top: 50%;
    right: 0;
    transform: translateY(-20%);
  }

  /* line 98, ../sass/components/_blocks.scss */
  .block_5 {
    height: 400px;
    margin-bottom: 30px;
    width: 277.5px;
  }
  /* line 103, ../sass/components/_blocks.scss */
  .block_5 .content-block {
    top: 50%;
    right: 0;
    transform: translateY(-30%);
  }

  /* line 110, ../sass/components/_blocks.scss */
  .block_6 {
    height: 200px;
    margin-right: 30px;
    width: 570px;
  }

  /* line 116, ../sass/components/_blocks.scss */
  .block_7 {
    height: 200px;
    width: 570px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 128, ../sass/components/_blocks.scss */
  .block_1 {
    margin-right: 20px;
    margin-bottom: 20px;
    height: 165px;
    width: 387.5px;
  }

  /* line 135, ../sass/components/_blocks.scss */
  .block_2 {
    margin-right: 20px;
    margin-bottom: 20px;
    height: 165px;
    width: 310px;
  }

  /* line 142, ../sass/components/_blocks.scss */
  .block_3 {
    height: 165px;
    margin-bottom: 20px;
    width: 232.5px;
  }
  /* line 147, ../sass/components/_blocks.scss */
  .block_3 .app-3-bckgrnd {
    background-image: url("../img/github-logo-sm.png");
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: 80%;
    background-position: center;
    width: 100%;
  }

  /* line 157, ../sass/components/_blocks.scss */
  .block_4 {
    margin-right: 20px;
    margin-bottom: 20px;
    height: 330px;
    width: 716.5px;
  }

  /* line 164, ../sass/components/_blocks.scss */
  .block_5 {
    height: 330px;
    margin-bottom: 20px;
    width: 233.5px;
  }

  /* line 170, ../sass/components/_blocks.scss */
  .block_6 {
    height: 165px;
    margin-right: 20px;
    width: 475px;
  }

  /* line 176, ../sass/components/_blocks.scss */
  .block_7 {
    height: 165px;
    width: 475px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 188, ../sass/components/_blocks.scss */
  .block_1 {
    margin-right: 20px;
    margin-bottom: 20px;
    height: 165px;
    width: 405.55556px;
  }

  /* line 195, ../sass/components/_blocks.scss */
  .block_2 {
    margin-bottom: 20px;
    height: 165px;
    width: 324.44444px;
  }

  /* line 201, ../sass/components/_blocks.scss */
  .block_3 {
    height: 165px;
    margin-bottom: 20px;
    width: 750px;
  }
  /* line 206, ../sass/components/_blocks.scss */
  .block_3 .app-3-bckgrnd {
    background-image: url("../img/github-logo-lg.png");
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: 80%;
    background-position: center;
    width: 100%;
  }

  /* line 216, ../sass/components/_blocks.scss */
  .block_4 {
    margin-bottom: 20px;
    height: 330px;
    width: 750px;
  }

  /* line 222, ../sass/components/_blocks.scss */
  .block_5 {
    height: 350px;
    margin-bottom: 20px;
    margin-right: 20px;
    width: 243.33333px;
  }

  /* line 229, ../sass/components/_blocks.scss */
  .block_6 {
    height: 165px;
    margin-bottom: 20px;
    width: 486.66667px;
  }

  /* line 235, ../sass/components/_blocks.scss */
  .block_7 {
    height: 165px;
    width: 486.66667px;
  }
}
@media (max-width: 767px) {
  /* line 255, ../sass/components/_blocks.scss */
  .block_1, .block_2, .block_3, .block_4, .block_5, .block_6, .block_7 {
    position: relative;
    width: 90%;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
  }

  /* line 263, ../sass/components/_blocks.scss */
  .block_1 {
    height: 200px;
  }

  /* line 267, ../sass/components/_blocks.scss */
  .block_2 {
    height: 200px;
    top: 20px;
  }

  /* line 272, ../sass/components/_blocks.scss */
  .block_3 {
    height: 200px;
    top: 40px;
  }
  /* line 276, ../sass/components/_blocks.scss */
  .block_3 .app-3-bckgrnd {
    background: url("../img/github-logo-lg.png");
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: 100%;
    background-position: center;
    width: 100%;
  }

  /* line 286, ../sass/components/_blocks.scss */
  .block_4 {
    height: 200px;
    top: 60px;
  }

  /* line 291, ../sass/components/_blocks.scss */
  .block_5 {
    height: 200px;
    top: 80px;
  }

  /* line 296, ../sass/components/_blocks.scss */
  .block_6 {
    height: 200px;
    top: 100px;
  }

  /* line 301, ../sass/components/_blocks.scss */
  .block_7 {
    height: 200px;
    top: 120px;
  }
}
/* line 1, ../sass/components/_sections.scss */
section {
  padding: 30px 0;
}

/* line 5, ../sass/components/_sections.scss */
.section-gray {
  background: rgba(238, 238, 238, 0.5);
}

/* line 9, ../sass/components/_sections.scss */
.section-white {
  background: #fff;
}

/* line 13, ../sass/components/_sections.scss */
.no-pad-top {
  padding-top: 0;
}

/* line 17, ../sass/components/_sections.scss */
.no-pad-bottom {
  padding-bottom: 0;
}

/* line 21, ../sass/components/_sections.scss */
.portfolio-section {
  position: relative;
  background: repeating-linear-gradient(45deg, #606dbc, #606dbc 10px, #465298 10px, #465298 20px);
}

@media (max-width: 767px) {
  /* line 34, ../sass/components/_sections.scss */
  .portfolio-section {
    height: 1710px;
    position: relative;
    background: repeating-linear-gradient(45deg, #606dbc, #606dbc 10px, #465298 10px, #465298 20px);
  }
}
/* line 1, ../sass/components/_bootstrap-extentions.scss */
.no-pads-left, .no-pads {
  padding-left: 0 !important;
}

/* line 5, ../sass/components/_bootstrap-extentions.scss */
.no-pads-right, .no-pads {
  padding-right: 0 !important;
}

/* line 2, ../sass/components/_animations.scss */
.block:hover .img-block {
  animation: blur-effect 300ms ease-in-out forwards;
  -webkit-animation: blur-effect 300ms ease-in-out forwards;
}

@keyframes blur-effect {
  0% {
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    -ms-filter: blur(0);
    filter: blur(0);
    transform: rotate(0) scale(1);
  }
  100% {
    -webkit-filter: blur(3px);
    filter: blur(3px);
    -moz-transform: rotate(0) scale(1.05);
    -ms-transform: rotate(0) scale(1.05);
    -webkit-transform: rotate(0) scale(1.05);
    transform: rotate(0) scale(1.05);
  }
}
/* line 23, ../sass/components/_animations.scss */
.percent-100-animation {
  animation: percent-100-animation 1s ease-in-out forwards, 200ms;
  -webkit-animation: percent-100-animation 1s ease-in-out forwards, 200ms;
}

@keyframes percent-100-animation {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
/* line 37, ../sass/components/_animations.scss */
.percent-80-animation {
  animation: percent-80-animation 1s ease-in-out forwards 200ms;
  -webkit-animation: percent-80-animation 1s ease-in-out forwards 200ms;
}

@keyframes percent-80-animation {
  0% {
    width: 0%;
  }
  70% {
    width: 90%;
  }
  100% {
    width: 80%;
  }
}
/* line 54, ../sass/components/_animations.scss */
.percent-60-animation {
  animation: percent-60-animation 1s ease-in-out forwards 200ms;
  -webkit-animation: percent-60-animation 1s ease-in-out forwards 200ms;
}

@keyframes percent-60-animation {
  0% {
    width: 0%;
  }
  70% {
    width: 70%;
  }
  100% {
    width: 60%;
  }
}
/* line 71, ../sass/components/_animations.scss */
.percent-40-animation {
  animation: percent-40-animation 1s ease-in-out forwards 200ms;
  -webkit-animation: percent-40-animation 1s ease-in-out forwards 200ms;
}

@keyframes percent-40-animation {
  0% {
    width: 0%;
  }
  70% {
    width: 50%;
  }
  100% {
    width: 40%;
  }
}
/* line 88, ../sass/components/_animations.scss */
.percent-20-animation {
  animation: percent-20-animation 1s ease-in-out forwards 200ms;
  -webkit-animation: percent-20-animation 1s ease-in-out forwards 200ms;
}

@keyframes percent-20-animation {
  0% {
    width: 0%;
  }
  70% {
    width: 30%;
  }
  100% {
    width: 20%;
  }
}
/* line 106, ../sass/components/_animations.scss */
.env-logo-animation {
  animation: env-logo-animation 1s ease-in-out forwards;
  -webkit-animation: env-logo-animation 1s ease-in-out forwards;
}

@keyframes env-logo-animation {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}
/* line 1, ../sass/components/_logos.scss */
.logo-bootstrap {
  background: #eee url("../img/bootstrap-logo.png");
}

/* line 5, ../sass/components/_logos.scss */
.logo-html5 {
  background: #eee url("../img/html5-logo.png");
}

/* line 9, ../sass/components/_logos.scss */
.logo-css3 {
  background: #eee url("../img/css3-logo.png");
}

/* line 13, ../sass/components/_logos.scss */
.logo-c_sharp {
  background: #eee url("../img/c_sharp-logo.png");
}

/* line 17, ../sass/components/_logos.scss */
.logo-js {
  background: #eee url("../img/js-logo.png");
}

/* line 21, ../sass/components/_logos.scss */
.logo-java {
  background: #eee url("../img/java-logo.png");
}

/* line 25, ../sass/components/_logos.scss */
.logo-wpf {
  background: #eee url("../img/wpf-logo.png");
}

/* line 29, ../sass/components/_logos.scss */
.logo-asp {
  background: #eee url("../img/asp-logo.png");
}

/* line 33, ../sass/components/_logos.scss */
.logo-vs {
  background: #eee url("../img/visual-studio-logo.png");
}

/* line 37, ../sass/components/_logos.scss */
.logo-git {
  background: #eee url("../img/git-logo.png");
}

/* line 41, ../sass/components/_logos.scss */
.logo-80x80 {
  width: 90px;
  height: 90px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 16px;
  margin: 0 auto;
  border: 2px solid #fff;
}

/* line 51, ../sass/components/_logos.scss */
.logo-100x100 {
  width: 110px;
  height: 110px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  margin: 0 auto;
  border: 2px solid #fff;
}

/* line 2, ../sass/layouts/_portfolio.scss */
.app-1-bckgrnd {
  background: url("http://www.1800pocketpc.com/wp-content/uploads/2008/09/minesweeper.jpg");
}

/* line 6, ../sass/layouts/_portfolio.scss */
.app-2-bckgrnd {
  background: url("http://a3.mzstatic.com/us/r30/Purple69/v4/20/51/b0/2051b05b-9d73-20c8-c4e4-e16224913114/screen322x572.jpeg");
}

/* line 10, ../sass/layouts/_portfolio.scss */
.app-4-bckgrnd {
  background: url("http://userguide.protoshare.com/wp-content/uploads/2012/03/rich-text-editor.png");
}

/* line 14, ../sass/layouts/_portfolio.scss */
.app-5-bckgrnd {
  background: url("https://www.geekup.pl/userdata/gfx/d016da346105028a9997dc9829badd47.jpg");
}

/* line 18, ../sass/layouts/_portfolio.scss */
.app-6-bckgrnd {
  background: url("http://miodysowa.pl/images/mainpic.jpg");
}

/* line 22, ../sass/layouts/_portfolio.scss */
.app-7-bckgrnd {
  background: url("http://designwoop.com/uploads/2013/12/22-freebie-portfolio-design-tutorial.jpg");
}

/* line 1, ../sass/layouts/_skills.scss */
.env {
  height: 300px;
  padding: 50px 20px;
  margin-bottom: 30px;
}

/* line 7, ../sass/layouts/_skills.scss */
.env-header {
  text-align: center;
  color: #fff;
  padding: 50px 0;
}

/* line 13, ../sass/layouts/_skills.scss */
.skill {
  height: 400px;
  padding: 50px 30px;
  margin-bottom: 30px;
}

/* line 19, ../sass/layouts/_skills.scss */
.skill-header {
  text-align: center;
  color: #fff;
  padding: 30px 0;
}

/* line 25, ../sass/layouts/_skills.scss */
.progressbar {
  width: 100%;
  height: 50px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  border: 2px solid #eee;
  background: rgba(221, 221, 221, 0.8);
  padding: 6px;
  display: none;
}

/* line 35, ../sass/layouts/_skills.scss */
.progres {
  width: 0%;
  height: 100%;
  border-radius: 19px;
}

/* line 41, ../sass/layouts/_skills.scss */
.env-git {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFE11F22', endColorstr='#FFF85728');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjEuMCIgeDI9IjEuMCIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UxMWYyMiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y4NTcyOCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 100%, 100% 0%, color-stop(0%, #e11f22), color-stop(100%, #f85728));
  background-image: -moz-linear-gradient(left bottom, #e11f22 0%, #f85728 100%);
  background-image: -webkit-linear-gradient(left bottom, #e11f22 0%, #f85728 100%);
  background-image: linear-gradient(to right top, #e11f22 0%, #f85728 100%);
}

/* line 46, ../sass/layouts/_skills.scss */
.env-vs {
  background-color: #541d66;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF541D66', endColorstr='#FF7C357A');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU0MWQ2NiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzdjMzU3YSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #541d66), color-stop(100%, #7c357a));
  background-image: -moz-linear-gradient(left, #541d66 0%, #7c357a 100%);
  background-image: -webkit-linear-gradient(left, #541d66 0%, #7c357a 100%);
  background-image: linear-gradient(to right, #541d66 0%, #7c357a 100%);
}

/* line 52, ../sass/layouts/_skills.scss */
.skill-asp {
  background-color: #083c82;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF083C82', endColorstr='#FF3193C0');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA4M2M4MiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzMxOTNjMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #083c82), color-stop(100%, #3193c0));
  background-image: -moz-linear-gradient(left, #083c82 0%, #3193c0 100%);
  background-image: -webkit-linear-gradient(left, #083c82 0%, #3193c0 100%);
  background-image: linear-gradient(to right, #083c82 0%, #3193c0 100%);
}

/* line 58, ../sass/layouts/_skills.scss */
.skill-wpf {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF9DB3BD', endColorstr='#FF2462B3');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjEuMCIgeDI9IjEuMCIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzlkYjNiZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI0NjJiMyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 100%, 100% 0%, color-stop(0%, #9db3bd), color-stop(100%, #2462b3));
  background-image: -moz-linear-gradient(left bottom, #9db3bd 0%, #2462b3 100%);
  background-image: -webkit-linear-gradient(left bottom, #9db3bd 0%, #2462b3 100%);
  background-image: linear-gradient(to right top, #9db3bd 0%, #2462b3 100%);
}

/* line 63, ../sass/layouts/_skills.scss */
.skill-java {
  background: #e11f22;
  background: -moz-linear-gradient(45deg, #e11f22 0%, #e11f22 51%, #f85728 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #e11f22), color-stop(51%, #e11f22), color-stop(100%, #f85728));
  background: -webkit-linear-gradient(45deg, #e11f22 0%, #e11f22 51%, #f85728 100%);
  background: -o-linear-gradient(45deg, #e11f22 0%, #e11f22 51%, #f85728 100%);
  background: -ms-linear-gradient(45deg, #e11f22 0%, #e11f22 51%, #f85728 100%);
  background: linear-gradient(45deg, #e11f22 0%, #e11f22 51%, #f85728 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e11f22', endColorstr='#f85728', GradientType=1 );
}

/* line 74, ../sass/layouts/_skills.scss */
.skill-js {
  background-color: #efc725;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFEFC725', endColorstr='#FFFBDE34');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmYzcyNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZiZGUzNCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #efc725), color-stop(100%, #fbde34));
  background-image: -moz-linear-gradient(left, #efc725 0%, #fbde34 100%);
  background-image: -webkit-linear-gradient(left, #efc725 0%, #fbde34 100%);
  background-image: linear-gradient(to right, #efc725 0%, #fbde34 100%);
}

/* line 80, ../sass/layouts/_skills.scss */
.skill-c_sharp {
  background: #9b4f96;
  background: -moz-linear-gradient(-45deg, #9b4f96 0%, #9b4f96 6%, #813787 39%, #68217a 76%, #68217a 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #9b4f96), color-stop(6%, #9b4f96), color-stop(39%, #813787), color-stop(76%, #68217a), color-stop(100%, #68217a));
  background: -webkit-linear-gradient(-45deg, #9b4f96 0%, #9b4f96 6%, #813787 39%, #68217a 76%, #68217a 100%);
  background: -o-linear-gradient(-45deg, #9b4f96 0%, #9b4f96 6%, #813787 39%, #68217a 76%, #68217a 100%);
  background: -ms-linear-gradient(-45deg, #9b4f96 0%, #9b4f96 6%, #813787 39%, #68217a 76%, #68217a 100%);
  background: linear-gradient(135deg, #9b4f96 0%, #9b4f96 6%, #813787 39%, #68217a 76%, #68217a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b4f96', endColorstr='#68217a', GradientType=1 );
}

/* line 90, ../sass/layouts/_skills.scss */
.skill-bootsrap {
  background: #0c0432;
  background: -moz-linear-gradient(45deg, #0c0432 0%, #612e4e 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #0c0432), color-stop(100%, #612e4e));
  background: -webkit-linear-gradient(45deg, #0c0432 0%, #612e4e 100%);
  background: -o-linear-gradient(45deg, #0c0432 0%, #612e4e 100%);
  background: -ms-linear-gradient(45deg, #0c0432 0%, #612e4e 100%);
  background: linear-gradient(45deg, #0c0432 0%, #612e4e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c0432', endColorstr='#612e4e', GradientType=1 );
}

/* line 101, ../sass/layouts/_skills.scss */
.skill-html5 {
  background-color: #da451c;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFDA451C', endColorstr='#FFFB6F33');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RhNDUxYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZiNmYzMyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #da451c), color-stop(100%, #fb6f33));
  background-image: -moz-linear-gradient(left, #da451c 0%, #fb6f33 100%);
  background-image: -webkit-linear-gradient(left, #da451c 0%, #fb6f33 100%);
  background-image: linear-gradient(to right, #da451c 0%, #fb6f33 100%);
}

/* line 107, ../sass/layouts/_skills.scss */
.skill-css3 {
  background-color: #1758a7;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF1758A7', endColorstr='#FF379AD6');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE3NThhNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzM3OWFkNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #1758a7), color-stop(100%, #379ad6));
  background-image: -moz-linear-gradient(left, #1758a7 0%, #379ad6 100%);
  background-image: -webkit-linear-gradient(left, #1758a7 0%, #379ad6 100%);
  background-image: linear-gradient(to right, #1758a7 0%, #379ad6 100%);
}

/* line 113, ../sass/layouts/_skills.scss */
.percent-20 {
  background-color: #eb4528;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFEB4528', endColorstr='#FFE68A27');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ViNDUyOCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U2OGEyNyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #eb4528), color-stop(100%, #e68a27));
  background-image: -moz-linear-gradient(left, #eb4528 0%, #e68a27 100%);
  background-image: -webkit-linear-gradient(left, #eb4528 0%, #e68a27 100%);
  background-image: linear-gradient(to right, #eb4528 0%, #e68a27 100%);
}

/* line 119, ../sass/layouts/_skills.scss */
.percent-40 {
  background-color: #eb4528;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFEB4528', endColorstr='#FFE6DC27');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ViNDUyOCIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZTY4YTI3Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZTZkYzI3Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #eb4528), color-stop(50%, #e68a27), color-stop(100%, #e6dc27));
  background-image: -moz-linear-gradient(left, #eb4528 0%, #e68a27 50%, #e6dc27 100%);
  background-image: -webkit-linear-gradient(left, #eb4528 0%, #e68a27 50%, #e6dc27 100%);
  background-image: linear-gradient(to right, #eb4528 0%, #e68a27 50%, #e6dc27 100%);
}

/* line 125, ../sass/layouts/_skills.scss */
.percent-60 {
  background-color: #eb4528;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFEB4528', endColorstr='#FFB9E627');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ViNDUyOCIvPjxzdG9wIG9mZnNldD0iMzMlIiBzdG9wLWNvbG9yPSIjZTY4YTI3Ii8+PHN0b3Agb2Zmc2V0PSI2NiUiIHN0b3AtY29sb3I9IiNlNmRjMjciLz48c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iI2I5ZTYyNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2I5ZTYyNyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #eb4528), color-stop(33%, #e68a27), color-stop(66%, #e6dc27), color-stop(99%, #b9e627), color-stop(100%, #b9e627));
  background-image: -moz-linear-gradient(left, #eb4528 0%, #e68a27 33%, #e6dc27 66%, #b9e627 99%, #b9e627 100%);
  background-image: -webkit-linear-gradient(left, #eb4528 0%, #e68a27 33%, #e6dc27 66%, #b9e627 99%, #b9e627 100%);
  background-image: linear-gradient(to right, #eb4528 0%, #e68a27 33%, #e6dc27 66%, #b9e627 99%, #b9e627 100%);
}

/* line 131, ../sass/layouts/_skills.scss */
.percent-80 {
  background-color: #eb4528;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFEB4528', endColorstr='#FF67E627');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ViNDUyOCIvPjxzdG9wIG9mZnNldD0iMjUlIiBzdG9wLWNvbG9yPSIjZTY4YTI3Ii8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNlNmRjMjciLz48c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iI2I5ZTYyNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzY3ZTYyNyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #eb4528), color-stop(25%, #e68a27), color-stop(50%, #e6dc27), color-stop(75%, #b9e627), color-stop(100%, #67e627));
  background-image: -moz-linear-gradient(left, #eb4528 0%, #e68a27 25%, #e6dc27 50%, #b9e627 75%, #67e627 100%);
  background-image: -webkit-linear-gradient(left, #eb4528 0%, #e68a27 25%, #e6dc27 50%, #b9e627 75%, #67e627 100%);
  background-image: linear-gradient(to right, #eb4528 0%, #e68a27 25%, #e6dc27 50%, #b9e627 75%, #67e627 100%);
}

/* line 137, ../sass/layouts/_skills.scss */
.percent-100 {
  background-color: #eb4528;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFEB4528', endColorstr='#FF00D131');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ViNDUyOCIvPjxzdG9wIG9mZnNldD0iMjAlIiBzdG9wLWNvbG9yPSIjZTY4YTI3Ii8+PHN0b3Agb2Zmc2V0PSI0MCUiIHN0b3AtY29sb3I9IiNlNmRjMjciLz48c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iI2I5ZTYyNyIvPjxzdG9wIG9mZnNldD0iODAlIiBzdG9wLWNvbG9yPSIjNjdlNjI3Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDBkMTMxIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #eb4528), color-stop(20%, #e68a27), color-stop(40%, #e6dc27), color-stop(60%, #b9e627), color-stop(80%, #67e627), color-stop(100%, #00d131));
  background-image: -moz-linear-gradient(left, #eb4528 0%, #e68a27 20%, #e6dc27 40%, #b9e627 60%, #67e627 80%, #00d131 100%);
  background-image: -webkit-linear-gradient(left, #eb4528 0%, #e68a27 20%, #e6dc27 40%, #b9e627 60%, #67e627 80%, #00d131 100%);
  background-image: linear-gradient(to right, #eb4528 0%, #e68a27 20%, #e6dc27 40%, #b9e627 60%, #67e627 80%, #00d131 100%);
}

/* line 1, ../sass/layouts/_footer.scss */
.footer-section {
  font-size: 22px;
  text-align: center;
  padding: 50px 0;
  width: 100%;
  background: rgba(225, 31, 34, 0.8);
  border-top: 5px solid #e11f22;
  color: #fff;
}
/* line 10, ../sass/layouts/_footer.scss */
.footer-section a {
  color: #fff;
  text-decoration: none;
}
/* line 14, ../sass/layouts/_footer.scss */
.footer-section a:hover {
  color: #ddd;
}

/* line 20, ../sass/layouts/_footer.scss */
a.linkedin {
  font-size: 48px;
  width: 70%;
  color: #fff;
  background: #0177B5;
  margin: 0 auto !important;
  padding: 0 !important;
  display: block;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 30, ../sass/layouts/_footer.scss */
a.linkedin:hover {
  background: #0066a4;
}

@media (min-width: 768px) and (max-width: 989px) {
  /* line 37, ../sass/layouts/_footer.scss */
  .footer-section h1 {
    font-size: 55px;
  }
}
@media (max-width: 767px) {
  /* line 45, ../sass/layouts/_footer.scss */
  .footer-section h1 {
    font-size: 30px;
  }
}
/* line 1, ../sass/layouts/_header.scss */
header {
  background: url("../img/header-background.jpg");
  background-position: center bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  position: relative;
}
/* line 11, ../sass/layouts/_header.scss */
header .borderkick {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
}
/* line 18, ../sass/layouts/_header.scss */
header nav {
  float: right;
  margin: 30px 30px 0 0;
}
/* line 23, ../sass/layouts/_header.scss */
header nav a {
  color: rgba(0, 0, 0, 0.7);
  display: inline-block;
  margin-left: 20px !important;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}
/* line 31, ../sass/layouts/_header.scss */
header nav a:first-child {
  margin-left: 0px;
}
/* line 35, ../sass/layouts/_header.scss */
header nav a:hover {
  color: #000;
  text-decoration: none;
}
/* line 42, ../sass/layouts/_header.scss */
header h1 {
  text-align: center;
  font-weight: 700;
  color: #fff;
  text-transform: lowercase;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  clear: both;
}
/* line 51, ../sass/layouts/_header.scss */
header h1 span {
  display: inline-block;
  padding: 0.2em 0.5em;
  border: #fff solid 10px;
}
/* line 58, ../sass/layouts/_header.scss */
header .kicker {
  color: #fff;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 1;
}

@media (max-width: 990px) {
  /* line 70, ../sass/layouts/_header.scss */
  header h1 span {
    border: #fff solid 5px;
  }
}
@media (min-width: 1000px) {
  /* line 76, ../sass/layouts/_header.scss */
  header {
    background-attachment: fixed;
  }
}
/* line 1, ../sass/layouts/_aboutme.scss */
.img-profile {
  width: 280px;
  height: 280px;
  display: block;
  margin: 0 auto;
  background-image: url("http://www.fillmurray.com/300/300");
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

/* line 15, ../sass/layouts/_aboutme.scss */
.about-me p {
  font-size: 18px;
}
