section.footer-section
  .container
    .row
      .col-xs-12
        p contact me at:
        h1
          a(href="mailto:maciejkaczmarczyk@gmail.com").hidden-xs
            |maciejkaczmarczyk@gmail.com
          a(href="mailto:maciejkaczmarczyk@gmail.com").visible-xs-block
            |maciejkaczmarczyk@<br />gmail.com
        a(href="https://www.linkedin.com/in/maciej-kaczmarczyk-b27002125", target="_blank").linkedin in
