header
  nav
      a(href="") O mnie
      a(href="") Umiejętności
      a(href="") Portfolio
      a(href="") Kontakt

  h1
    span
      |mackac.pl

  p.kicker Backend lover // Frontend hobbyist // Programming enthusiast
