section.portfolio-section
  .container
    .row
      .section-header
        h1 Portfolio:

      a(href="javascript:void(0)", target="_blank").block.block_1
        .img-block.app-1-bckgrnd

        .content-block
          h3 Minesweeper

          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

<<<<<<< HEAD
      a(href="https://github.com/niedzielnyaniol/CalculatorWPF", target="_blank").block.block_2
=======
      a(href="javascript:void(0)", target="_blank").block.block_2
>>>>>>> e0f8517c4f9e1988eb0d5da1348dbc6a54291faa
        .img-block.app-2-bckgrnd

        .content-block
          h3 Kalkulator

<<<<<<< HEAD
          p Prosty kalkulator napisany w C# WPF oparty na wzorcu MVVM
=======
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
>>>>>>> e0f8517c4f9e1988eb0d5da1348dbc6a54291faa

      a(href="https://github.com/niedzielnyaniol", target="_blank").block.block_3
        .img-block.app-3-bckgrnd

      a(href="javascript:void(0)", target="_blank").block.block_4
        .img-block.app-4-bckgrnd

        .content-block
          h3 Edytor Tekstu

          p media(blabla) .block > .content-block { top / transform}

      a(href="javascript:void(0)", target="_blank").block.block_5
        .img-block.app-5-bckgrnd

        .content-block
          h3 Tetris

          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

      a(href="javascript:void(0)", target="_blank").block.block_6
        .img-block.app-6-bckgrnd

        .content-block
          h3 miodysowa.pl

          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

<<<<<<< HEAD
      a(href="https://github.com/niedzielnyaniol/mackac.pl", target="_blank").block.block_7
=======
      a(href="javascript:void(0)", target="_blank").block.block_7
>>>>>>> e0f8517c4f9e1988eb0d5da1348dbc6a54291faa
        .img-block.app-7-bckgrnd

        .content-block
          h3 mackac.pl

<<<<<<< HEAD
          p Statyczna strona napisana przy użyciu HTML5/Jade, CSS3/Saas oraz JavaScript/jQuery
=======
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
>>>>>>> e0f8517c4f9e1988eb0d5da1348dbc6a54291faa
