section.portfolio-section
  .container
    .row
      .section-header
        h1 Portfolio:

      a(href="javascript:void(0)", target="_blank").block.block_1
        .img-block.app-1-bckgrnd

        .content-block
          h3 Minesweeper

          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

      a(href="javascript:void(0)", target="_blank").block.block_2
        .img-block.app-2-bckgrnd

        .content-block
          h3 Kalkulator

          p Lorem ipsum dolor sit amet, consectetur adipisicing elit.

      a(href="https://github.com/niedzielnyaniol", target="_blank").block.block_3
        .img-block.app-3-bckgrnd

      a(href="javascript:void(0)", target="_blank").block.block_4
        .img-block.app-4-bckgrnd

        .content-block
          h3 Edytor Tekstu

          p media(blabla) .block > .content-block { top / transform}

      a(href="javascript:void(0)", target="_blank").block.block_5
        .img-block.app-5-bckgrnd

        .content-block
          h3 Tetris

          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

      a(href="javascript:void(0)", target="_blank").block.block_6
        .img-block.app-6-bckgrnd

        .content-block
          h3 miodysowa.pl

          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

      a(href="javascript:void(0)", target="_blank").block.block_7
        .img-block.app-7-bckgrnd

        .content-block
          h3 mackac.pl

          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
