.logo-bootstrap{
  background: #eee url('../img/bootstrap-logo.png');
}

.logo-html5{
  background: #eee url('../img/html5-logo.png');
}

.logo-css3{
  background: #eee url('../img/css3-logo.png');
}

.logo-c_sharp{
  background: #eee url('../img/c_sharp-logo.png');
}

.logo-js{
  background: #eee url('../img/js-logo.png');
}

.logo-java{
  background: #eee url('../img/java-logo.png');
}

.logo-wpf{
  background: #eee url('../img/wpf-logo.png');
}

.logo-asp{
  background: #eee url('../img/asp-logo.png');
}

.logo-vs{
  background: #eee url('../img/visual-studio-logo.png');
}

.logo-git{
  background: #eee url('../img/git-logo.png');
}

.logo-80x80{
  width: 90px;
  height: 90px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 16px;
  margin: 0 auto;
  border: 2px solid #fff;
}

.logo-100x100{
  width: 110px;
  height: 110px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  margin: 0 auto;
  border: 2px solid #fff;
}
