body{
  font-family: $primary-font, sans-serif;
}

h1{
  font-size: 72px;
}

h2{
  font-size: 46px;
}

h3{
  font-size: 30px;
}

h4{
  font-size: 26px;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.75), transparent);
}

a{
  text-decoration: none;
}

.section-header{
  text-align: center;
  font-family: $secondary-font, cursive;
  margin-bottom: 30px;
  margin-top: 0;
  color: rgba(10,10,10,0.9);
}

@media (max-width: 767px) {
  h1{
    font-size: 40px;
  }
}
