body{
  font-family: $primary-font, sans-serif;
}

h2{
  text-align: center;
  font-size: 72px;
  font-family: $secondary-font, cursive;
  margin-bottom: 30px;
  margin-top: 0;
  color: rgba(10,10,10,0.9);
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.75), transparent);
}
