$primary-font: 'Reem Kufi'; // , sans-serif;
$secondary-font: 'Lobster'; // , cursive;

$first-app-bckgrnd: 'http://www.1800pocketpc.com/wp-content/uploads/2008/09/minesweeper.jpg';
$second-app-bckgrnd: 'http://a3.mzstatic.com/us/r30/Purple69/v4/20/51/b0/2051b05b-9d73-20c8-c4e4-e16224913114/screen322x572.jpeg';
$third-app-bckgrnd: 'http://userguide.protoshare.com/wp-content/uploads/2012/03/rich-text-editor.png';
$fourth-app-bckgrnd: 'https://www.geekup.pl/userdata/gfx/d016da346105028a9997dc9829badd47.jpg';
$fifth-app-bckgrnd: 'http://miodysowa.pl/images/mainpic.jpg';
$sixth-app-bckgrnd: 'http://designwoop.com/uploads/2013/12/22-freebie-portfolio-design-tutorial.jpg';
$github-logo-sm: '../img/github-logo-sm.png';
$github-logo-lg: '../img/github-logo-lg.png';
