// blocks backgrounds
.app-1-bckgrnd{
  background: url($first-app-bckgrnd);
}

.app-2-bckgrnd{
  background: url($second-app-bckgrnd);
}

.app-4-bckgrnd{
  background: url($third-app-bckgrnd);
}

.app-5-bckgrnd{
  background: url($fourth-app-bckgrnd);
}

.app-6-bckgrnd{
  background: url($fifth-app-bckgrnd);
}

.app-7-bckgrnd{
  background: url($sixth-app-bckgrnd);
}
